*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/app/build/
/app/release.keystore
/app/*.jks
/app/*.keystore
*.apk
*.ap_
*.aab
*.dex
.cxx/
*.log
/release/
/dist/
/keystore.properties
.kotlin/
